{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylessheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_test.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__title">
                    <p>Ultimate PC<br>
                        Configurator</p>
                </div>
                <div class="header__logo">
                    <a href="" class="header__logo-link">
                        <img src="{% static 'img/svg/Main-logo.svg' %}" class="header__logo-pic">
                    </a>
                </div>

                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="{% url 'main:home' %}" class="header__link">Catalog</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Authorization</a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">News</a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">Guide</a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">Compare</a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">Report</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <a href="{% url 'user:logout' %}">Выйти</a> {{ user.username }}
                        
                    {% else %}
                        <a href="{% url 'user:login' %}">Войти</a> <br>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="intro">
            {% if messages %}
                {% for message in messages %}
                    <div class="allert allert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %} 
            {% block content %}
            {% endblock %}
        </section>
        <p>О нас</p>
        <p>Наш сайт работает с 2023 года.<br>
            Мы дорожим каждым пользователем и клиентом, поэтому наша команда следит за каждой отправленной жалобой, идеей и качеством продуктов. Вы всегда можете отправить свою жалобу/идею во вкладке report(отчёт), мы с радостью разберёмся и сделаем всё на что мы способны.<br>
            Наша миссия проста - сделать удобный, простой и многофункциональный конфигуратор компьютерных сборок. В наших планах обновлять сайт раз не реже чем в 6 месяцев, всё об обновлениях вы можете узнать во вкладке news(новости).</p>
    </main>
    <!-- <div class="item"><h2>АААА</h2></div>
    <h1 class="egor">Егор дурачок!</h1> -->


    <footer class="fixed-footer">
        <div class="footer__logo_background">
            <div class="footer__logo">
                <a href="" class="header__logo-link">
                    <img src="{% static 'img/svg/Main-logo.svg' %}" class="header__logo-pic">
                </a>
            </div>
            <ul class="footer__nav">
                <div>
                    <ul class="nav__ul">
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="#">Форум</a>
                        </li>
                        <li>
                            <a href="#">Войти</a>
                        </li>
                        <li>
                            <a href="#">Техподержка</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <div class="footer__addr">
            <ul>
                <li>
                    <p>Для партнёров</p>
                </li>
                <li>
                    <img src="{% static 'img/svg/telephone.svg' %}" class="footer__for_partners">
                    <p>+7 (777) 777-77-77</p>
                </li>
                <li>
                    <img src="{% static 'img/svg/envelope-at.svg' %}" class="footer__for_partners">
                    <a class="footer__btn" href="mailto:our_company@ucpc.com">our_company@ucpc.com</a>
                </li>
            </ul>
        </div>
        <ul class="nav__ul2">
            <p>Мы в соцсетях</p>
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/telegram.svg' %}" class="footer__link">
                </a>
            </li>
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/skype.svg' %}" class="footer__link">
                </a>
            </li >
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/pinterest.svg' %}" class="footer__link">
                </a>
            </li>
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/github.svg' %}" class="footer__link">
                </a>
            </li>
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/discord.svg' %}" class="footer__link">
                </a>
            </li>
            <li class="footer__item">
                <a>
                    <img src="{% static 'img/svg/youtube.svg' %}" class="footer__link">
                </a>
            </li>
        </ul>
        <div>
            <a>
                <img src="{% static 'img/svg/airplane.svg' %}">
                <img src="{% static 'img/svg/flag_russian.svg' %}">
            </a>
            <p class="nav__p_selected_country">Россия</p>
        </div>
        <form id="search">
            <div>
              <input
                type="search"
                id="mySearch"
                name="q"
                placeholder="Search the site…"
                required />
              <button><img src="{% static 'img/svg/binoculars.svg' %}"></button>
              <span class="validity"></span>
            </div>
        </form>
    </footer>
</body>
</html>