{% extends 'main/base.html' %}

{% load static%}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="main">
        <section class="intro">
            <div class="wrapper2">
                <div class="auth-form">
                    <section class="intro2">
                        <nav class="auth__nav">
                            <div class="auth__type">
                                <div class="auth">
                                    <a class="auth__link_entrence">Вход</a>
                                    <img src="./img/other/auth_form_rect_main_line2.png" class="auth__line2">

                                </div>
                                <div class="reg">
                                    <a class="reg__link_registration">Регистрация</a>
                                    <img src="./img/other/auth_form_rect_main_line1.png" class="auth__line1">
                                </div>
                            </div>
                            <div class="auth__society">
                                <ul class="auth__list">
                                    <li class="auth__item">
                                        <a href="#!" class="auth__link">
                                            <img src="./img/svg/Auth/google.svg" class="nav-logo_auth_google">
                                        </a>
                                    </li>
                                    <li class="auth__item">
                                        <a href="#!" class="auth__link">
                                            <img src="./img/svg/Auth/vk.svg" class="nav-logo_vk">
                                        </a>
                                    </li>
                                    <li class="auth__item">
                                        <a href="#!" class="auth__link">
                                            <img src="./img/svg/Auth/twitter.svg" class="nav-logo_twitter">
                                        </a>
                                    </li>
                                    <li class="auth__item">
                                        <a href="#!" class="auth__link">
                                            <img src="./img/svg/Auth/instagramm.svg" class="nav-logo_instagramm">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <form class="auth-form">
                            <div class="form__login">
                                <p class="reg_form__base_text">Имя пользователя</p>
                                <div class="create_login">
                                    <input type="text"  name="new_login" maxlength="56" size="56">
                                </div>
                                <img src="./img/other/auth_form_rect_main_line3.png" class="auth__line3">
                            </div>
                            <div class="form__email">
                                <p class="reg_form__base_text">Почта</p>
                                <div class="create_email">
                                    <input type="text"  name="new_email" maxlength="32" size="32">
                                </div>
                                <img src="./img/other/auth_form_rect_main_line3.png" class="auth__line3">
                            </div>
                            <div class="form__password">
                                <p class="reg_form__base_text">Пароль</p>
                                <div class="create_password">
                                    <input type="text"  name="new_password" maxlength="100" size="52">
                                    <img src="./img/svg/open_eye.svg" class="auth__password_eye">
                                </div>
                                <img src="./img/other/auth_form_rect_main_line3.png" class="auth__line3">
                            </div>
                        </form>
                        <div class="form__btn_final_submit">
                            <button type="button" class="btn btn-danger" style="background: #3FBF5B; border: 0px; border-radius: 50px; width: 200px; height: 40px;">Создать</button>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock %}